################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/.vscode

/example/*/bin
/example/*/obj

/src/*/bin
/src/*/obj


/tests/*/bin
/tests/*/obj

/tests/Mock/*/bin
/tests/Mock/*/obj

/TestResults

/Yxl.Dal.Domain/obj
/Yxl.Dal.Repository/obj
/src/Yxl.Dal/nupkgs
/src/Yxl.Dal.MySql/nupkgs
