################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/src/Yxl.Dal/bin
/src/Yxl.Dal/obj
/.vscode
/src/Yxl.Dal.MySql/bin/*
/src/Yxl.Dal.MySql/obj/*
/src/Yxl.Dal.SqlServer/bin/*
/src/Yxl.Dal.SqlServer/obj/*
/tests/Yxl.Dal.Tests/bin/*
/tests/Yxl.Dal.Tests/obj/*
/tests/Yxl.Dapper.Extensions.Tests/bin/*
/tests/Yxl.Dapper.Extensions.Tests/obj/*
/src/Yxl.Dal/obj
/src/Yxl.Dal.MySql/obj
/src/Yxl.Dal.SqlServer/obj
/tests/Yxl.Dal.Tests/bin
/tests/Yxl.Dal.Tests/obj
/TestResults
/example/Yxl.Dal.Api/bin/
/example/Yxl.Dal.Api/obj/
/src/Yxl.Dapper.Extensions/bin/
/src/Yxl.Dapper.Extensions/obj/
