[submodule "ref/Dapper"]
	path = ref/Dapper
	url = git@github.com:Yang-XL/Dapper.git
[submodule "ref/Dapper-Extensions"]
	path = ref/Dapper-Extensions
	url = git@github.com:Yang-XL/Dapper-Extensions.git
[submodule "ref/SqlGenerator"]
	path = ref/SqlGenerator
	url = git@github.com:Yang-XL/SqlGenerator.git
