################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/src/Yxl.Dal/bin/Debug/netstandard2.1
/src/Yxl.Dal/obj/Debug/netstandard2.1
